---
http_interactions:
- request:
    method: post
    uri: https://eu.api.ovh.com/1.0/auth/credential
    body:
      encoding: UTF-8
      string: '{"accessRules":[{"method":"GET","path":"/*"}]}'
    headers:
      X-Ovh-Application:
      - APPLICATION_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ovh-Queryid:
      - FR.ws-6.5b486f97.20211.7789
      X-Recruitment:
      - You know how to code? This is a good start, but it may not be enough! We are
        looking for engineers who LOVE coding. Programming enthusiasts, code aesthetes,
        CTF winners, ... In short, geeks eager to learn, obstinate, involved. You
        want to challenge yourself? Join us! http://ovh.jobs
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"validationUrl":"VALIDATION_URL","consumerKey":"CONSUMER_KEY","state":"pendingValidation"}'
  recorded_at: Fri, 13 Jul 2018 09:23:35 GMT
recorded_with: VCR 4.0.0
